/* You can add global styles to this file, and also import other style files */
html { height: 100% }
body {
	margin: 0;
	height: inherit;
	user-select: none;
}

#ready-notes .note {
	background: greenyellow;
	div { display: none }
}

#process-notes .note {
	background: yellow;
	div { display: none }
}

#started-notes .note {
	background: red;
}

.note {
	min-width: 15em;
    height: 6em;
	margin: 1em;
	cursor: pointer;
    display: flex;
	border: 1px solid;
    align-items: center;
	
	h3 {
		flex: 1;
		margin: 1em;
	}
	
	div {
		padding: 1em;
		cursor: pointer;
	}
}