.light {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	border: 1px solid;
}

.light-info {
	display: flex;
	flex-direction: column;
	align-items: center;
    margin: 0.5em;
}

#container {
	height: 100%;
	display: flex;
	flex-direction: column;
}

#header {
	display: flex;
	justify-content: space-around;
}

#notelist {
	flex:1;
	display: flex;
	padding: 0 2em;
	padding-bottom: 3em;
	justify-content: space-between;
}

#semaphore {
	display: flex;
}

#button-add {
	position: fixed; 
	background: floralwhite;
	border-radius: 50%;
	text-align: center;
	width: 1em;
	padding: 0.2em;
	font-size: 3.5em;
	font-weight: 600;
	bottom: 0.5em;
	left: 0.5em;
	cursor: pointer;
	box-shadow: 0 0 10px 1px black;
}

#overlay {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	position: fixed;
	display: flex;
	display: none;
	opacity: 0;
	transition: opacity 0.5s;
	justify-content: center;
	align-items: center;
	background: #000000BB;
}

#dialog {
	width: 28%;
	padding: 2em;
	background: white;
}

#dialog-title {
	margin: 1em;
	margin-top: 3em;
	
	input {
		width: 100%;
		padding: 0.5em;
	}
}

#dialog-status {
	padding: 1em;
	
	select {
		padding: 0.5em;
	}
}

#dialog-buttons {
	text-align:right;
	
	button {
		padding: 1em;
		cursor: pointer;
		margin: 0 0.5em;
		background: white;
		border: 1px solid;
	}
}